Django==1.10.8
Jinja2==2.10
MarkupSafe==1.0
Pillow==4.3.0
Unidecode==0.04.21
WebOb==1.7.4
WebTest==2.0.29
argon2-cffi==16.3.0
arrow==0.12.0
awesome-slugify==1.6.5
beautifulsoup4==4.6.0
binaryornot==0.4.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
defusedxml==0.5.0
django-allauth==0.34.0
django-bootstrap3==9.1.0
django-crispy-forms==1.7.0
django-csv-exports==1.0.5
django-debug-toolbar==1.9.1
django-environ==0.4.4
django-extensions==1.9.7
django-model-utils==3.0.0
django-redis==4.8.0
django-vanilla-views==1.0.4
django-webtest==1.9.2
djangorestframework==3.8.2
future==0.16.0
idna==2.6
jinja2-time==0.2.0
lxml==4.6.2
model-mommy==1.4.0
numpy==1.13.3
oauthlib==2.0.6
olefile==0.44
pandas==0.21.0
poyo==0.4.1
psycopg2==2.7.3.2
pycparser==2.18
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.3
redis==2.10.6
regex==2017.11.09
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
sqlparse==0.2.4
typing==3.6.2
urllib3==1.22
waitress==1.1.0
wheel==0.30.0
whichcraft==0.4.1
whitenoise==3.3.1
