{% extends "base.html" %}

{% block content %}
    <h1>Lista</h1>
    <a href="{% url 'projetos:create' %}">Criar</a>
    <a href="{% url 'projetos:extract' %}">Extrair do Portal</a>
    <ul>
        {% for object in object_list %}
            <li>
                {{ object }}
                <a href="{{ object.get_absolute_url }}">Detalhes</a>
                <a href="{% url 'projetos:update' object.pk %}">Atualizar</a>
                <a href="{% url 'projetos:delete' object.pk %}">Apagar</a>
            </li>
        {% empty %}
                <p>Sem items.</p>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'projetos:list' %}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'projetos:list' %}?page={{ page_obj.next_page_number }}">próximo</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}

